/*#filemanager{
    max-width:900px;
    margin:auto;
}*/


#filemanager .filebox{
    display:inline-block;
}
#filemanager .playmodal{
    width:680px;
}
#filemanager .playmodal .modal-body{
    max-height:700px;
}
#filemanager h3{
    color:white;
}
#filemanager .filetable{
    background-color:white;
}



#filemanager .modal-header h3{
    color:black;
}
/* FILEMANAGER TABLE
#filemanager tbody:nth-child(even) tr td{
    background-color:#E8E8E8;
}
#filemanager tbody tr td{
}
#filemanager tbody tr td:last-child{
    width:100px;
}
#filemanager thead tr th{
    font-size:1.5em;
}
*/