@media (min-width: 900px){
    #filemanager{
        width:45%;
    }
    #playlists{
        width:100%;
    }
    #navigation{
        width: 95%;
        margin: auto;
        padding-top:30px;
    }
}
@media (max-width: 767px){
    #playlists{
        margin-top:30px
    }
}